<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


    <!-- version 3.23.23 -->
    <!-- <script src="https://unpkg.com/vue"></script> -->

</head>
<body>

<h2>Vue.js</h2>

<div id="app">
<ul>
    <li v-for="product in products">
        {{product}}
    </li>
</ul>
</div>

<div id="app2">
    <span v-if="seen">Now you see me</span><br/>
    <button class="btn btn-primary"><a v-bind:href="href" target="_blank" style="color: white"> Click </a></button>
</div>

<div id="app3">
    <ul>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ul>
</div>

<div id="app4">
    <p>{{message}}</p>
    <button class="btn btn-primary" v-on:click="reverseMessage">Reverse a message</button>
</div>


<div id="define-component">
    <simple-component></simple-component>
</div>

<ul id="props-component">
    <!-- Create an instance of the todo-item component -->
    <todo-item
    v-for="item in groceryList"
    v-bind:todo="item"
    v-bind:key="item.id">
    </todo-item>
</ul>

<div id="prefixes-test">
    <h1 v-bind:id="dynamicId">{{$data.firstName}}</h1>
</div>

<div id="computed-example">
    <p>{{message}}</p>
    <p>{{reservedMessage}}</p>
</div>


<script src="main.js"></script>
<script src="propsComponent.js"></script>
<script src="defineComponent.js"></script>
<script src="prefixes-demo.js"></script>
<script src="computed.js"></script>
</body>
</html>